* {
    box-sizing: border-box;
}

body {
font-family: cursive;
margin: 0;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
min-height: 100vh;
text-shadow: 2px 2px #7678d4b5;

}

header {
    padding: 25px;
    text-align: center;
    margin-right: 50px;
    background-image: linear-gradient(#bcb8ee,#bcb3ee)

}

h1 {
    font-size: 200%;
    padding: 50px;
    text-align: center;
    margin-left: 50px;
  }

  ul {
    list-style-type: none;
    margin: 5;
    padding: 5;
}

li {
    display: inline;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    background-image: linear-gradient(#bcb8ee,#7677d4);

}

section{
    display: flex;
    justify-content: flex-start;
}

img {
    max-width: 75%;
    height: auto;

}

p {
    padding: 50px;
}

footer{
    float: left;
    width: 100px;
    height: 100px;
    margin: 100px;
    background-size:cover;
    
}

.portrait {
    position:relative;
    filter: grayscale(50%);
    background-color: #373e56;
    width: 300px;
    border: 15px;
    padding: 50px;
    margin: 20px;

}

.Websites{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 200px;
}

.gif_1{
    position:relative;
  width: 25%;
}

.image{
    opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.gif_1_middle{
    transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.gif_1:hover .image{
    opacity: 0.3;
}

.gif_1:hover .gif_1_middle{
    opacity: 1;
}

.text {
    background-color: #7677d4;
    color: #3c4674;
    font-size: 16px;
    padding: 16px 32px;
  }

.Bio{
    padding: 50px;
    text-align: center;

}

.Contact_Info{
    display:inline-block;
    margin: 0 40px 0;
}



